{% load static %}
<footer style="background: #005F73; text-align: left;">
    <div style="justify-content: space-between; display: flex; flex-wrap: wrap; flex-shrink: 0; align-items: center;">

        <div style="font-style: normal; font-weight:700; color: #FFF; font-size: 1.5em; padding: 30px">
            <a href="/">hoophub</a>
        </div>

        <div style="display: flex; align-items: flex-start; font-weight: 500; color: #FFF; gap: 25px; font-size: 0.9em; padding: 30px">
            <a href="/">About us</a>
            <a href="/">Contact</a>
            <a href="/">Help</a>
        </div>
    </div>
</footer>