{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>hoophub - Review</title>

<style>
    .head {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        padding: 0px clamp(20px, 7vw, 60px) 10px;
    }
    .head .content {
        color: #000;
        font-size: 1em;
        font-weight: 600;
        line-height: normal;
        border-bottom: 2px dashed #005F73;
    }
    .review-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }
    .review-card {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding: 0 clamp(20px, 7vw, 60px) 10px;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .review-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .review-date {
        font-size: 0.8em;
        font-style: italic;
    }
    .review-product-image {
        width: 120px;
        height: 120px;
        object-fit: contain;
        flex-shrink: 0;
        border-radius: 30px;
    }
    .review-product-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .review-product-name {
        color: #000;
        font-size: 1.1em;
        font-weight: 600;
        color: #000;
    }
    .review-product-price {
        color: #000;
        font-size: 1em;
        font-weight: 500;
        color: #000;
    }
    .review-message {
        color: #343A40;
        font-size: 1em;
        font-weight: 400;
        overflow-wrap: break-word;
    }
    .rating {
        display: flex;
    }
    .rating .star {
        font-size: 1.5em;
        color: #D9D9D9;
    }
    .rating .star.rated {
        font-size: 1.5em;
        color: #EE9B00;
    }
    .review-action {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: auto;
        flex-shrink: 0;
        justify-content: flex-end;
    }
    .review-edit-button {
        background-color: #EE9B00;
        color: #FFF;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 99px;
        text-align: center;
        align-self: flex-end;
        margin-top: auto;
        display: flex;
        color: #FFF;
    }
    .review-delete-button {
        background-color: #BB3E03;
        color: #FFF;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 99px;
        text-align: center;
        align-self: flex-end;
        margin-top: auto;
        display: flex;
        color: #FFF;
    }
    /* .star:hover, .star:hover ~ .star {
        color: #EE9B00;
    } */
</style>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <div class="head">
        <span class="content">Look back your reviews!</span>
    </div>

        <div id="review-container" class="review-container">
            
                <div class="review-card flex flex-col md:flex-row">
                    <img class="review-product-image w-full h-auto object-cover rounded-t-lg md:w-48 h-48" src="https://static.nike.com/a/images/t_web_pdp_535_v2/f_auto/1cbcc3f2-2ea4-4a9c-a1f0-74c661d9f3c9/NIKE+SHOX+RIDE+2.png" alt="Product image">

                    <div class="review-details">

                        <h2 class="review-product-name">Name produk panjang panjang panjang panjang panjang panjang panjang panjang panjang panjang panjang</h2>
                        
                        <p class="review-product-price">20000</p>
                        <p class="review-date">12 okt 2025</p>
                        <div class="rating">
                            {% for i in "12345" %}
                                <span class="star {% if i|add:0 <= 4 %}rated{% endif %}">&#9733;</span>
                            {% endfor %}
                        </div>
                        <h3 class="review-message">Inspired by the team's redeeming run in Beijing, this edition of the Kobe 4 Protro returns with the same winning spirit and accolades to prove it. A shining mix of Metallic Gold and Neutral Grey dress up the lightweight, layered upper, while Dark Obsidian accents and high-gloss finishes add some well-earned lustre. 

And of course, the Protro comes equipped to perform. It's been re-tooled for a smooth, responsive sensation underfoot, while the padded collar and Flywire cables work to help contain your foot. Soft yet resilient, the foam midsole and Air Zoom in the heel create a comfortable feel with energy return. To finish off this special design, the number 10 is stamped into the heel—honouring Kobe's jersey number from the team's legendary 2008 run.</h3>
                    </div>
                    <div class="review-action">
                        <button class="review-edit-button">Edit</button>
                        <button class="review-delete-button">Delete</button>
                    </div>
                </div>
        </div>
    
        <h2 style="text-align: center;">No reviews yet.</h2>
{% endblock content %}

